<p id="notice"><%= notice %></p>

<h1>Listing Office Soughts</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @office_soughts.each do |office_sought| %>
      <tr>
        <td><%= office_sought.category %></td>
        <td><%= link_to 'Show', office_sought %></td>
        <td><%= link_to 'Edit', edit_office_sought_path(office_sought) %></td>
        <td><%= link_to 'Destroy', office_sought, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Office sought', new_office_sought_path %>
