<p id="notice"><%= notice %></p>

<h1>Listing Monetary Contributions</h1>

<table>
  <thead>
    <tr>
      <th>Report</th>
      <th>Entity</th>
      <th>Entity type</th>
      <th>Transaction</th>
      <th>Candiate</th>
      <th>Pac</th>
      <th>Date</th>
      <th>Out of state pac</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Date created</th>
      <th>Mc total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monetary_contributions.each do |monetary_contribution| %>
      <tr>
        <td><%= monetary_contribution.report_id %></td>
        <td><%= monetary_contribution.entity_id %></td>
        <td><%= monetary_contribution.entity_type_id %></td>
        <td><%= monetary_contribution.transaction_id %></td>
        <td><%= monetary_contribution.candiate_id %></td>
        <td><%= monetary_contribution.pac_id %></td>
        <td><%= monetary_contribution.date %></td>
        <td><%= monetary_contribution.out_of_state_pac %></td>
        <td><%= monetary_contribution.amount %></td>
        <td><%= monetary_contribution.description %></td>
        <td><%= monetary_contribution.date_created %></td>
        <td><%= monetary_contribution.mc_total %></td>
        <td><%= link_to 'Show', monetary_contribution %></td>
        <td><%= link_to 'Edit', edit_monetary_contribution_path(monetary_contribution) %></td>
        <td><%= link_to 'Destroy', monetary_contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monetary contribution', new_monetary_contribution_path %>
