<p id="notice"><%= notice %></p>

<h1>Listing Expenditure Categories</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenditure_categories.each do |expenditure_category| %>
      <tr>
        <td><%= expenditure_category.category %></td>
        <td><%= link_to 'Show', expenditure_category %></td>
        <td><%= link_to 'Edit', edit_expenditure_category_path(expenditure_category) %></td>
        <td><%= link_to 'Destroy', expenditure_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expenditure category', new_expenditure_category_path %>
