<p id="notice"><%= notice %></p>

<p>
  <strong>Report:</strong>
  <%= @pledge.report_id %>
</p>

<p>
  <strong>Transaction:</strong>
  <%= @pledge.transaction_id %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @pledge.entity_id %>
</p>

<p>
  <strong>Entity type:</strong>
  <%= @pledge.entity_type_id %>
</p>

<p>
  <strong>Travel:</strong>
  <%= @pledge.travel_id %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @pledge.candidate_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @pledge.date %>
</p>

<p>
  <strong>Out of state pac:</strong>
  <%= @pledge.out_of_state_pac %>
</p>

<p>
  <strong>Pac:</strong>
  <%= @pledge.pac_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @pledge.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pledge.description %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @pledge.date_created %>
</p>

<p>
  <strong>Pledge total:</strong>
  <%= @pledge.pledge_total %>
</p>

<%= link_to 'Edit', edit_pledge_path(@pledge) %> |
<%= link_to 'Back', pledges_path %>
