<p id="notice"><%= notice %></p>

<p>
  <strong>Entity type:</strong>
  <%= @entity.entity_type_id %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @entity.prefix_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @entity.state_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @entity.first_name %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @entity.mi %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @entity.last_name %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @entity.suffix %>
</p>

<p>
  <strong>Address:</strong>
  <%= @entity.address %>
</p>

<p>
  <strong>Secondary address:</strong>
  <%= @entity.secondary_address %>
</p>

<p>
  <strong>Suite:</strong>
  <%= @entity.suite %>
</p>

<p>
  <strong>City:</strong>
  <%= @entity.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @entity.zip_code %>
</p>

<p>
  <strong>Occupation org:</strong>
  <%= @entity.occupation_org %>
</p>

<p>
  <strong>Company:</strong>
  <%= @entity.company %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @entity.date_created %>
</p>

<p>
  <strong>Change address:</strong>
  <%= @entity.change_address %>
</p>

<%= link_to 'Edit', edit_entity_path(@entity) %> |
<%= link_to 'Back', entities_path %>
