<%= form_for(@office_held) do |f| %>
  <% if @office_held.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@office_held.errors.count, "error") %> prohibited this office_held from being saved:</h2>

      <ul>
      <% @office_held.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
