<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @candidate.state_id %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @candidate.prefix_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @candidate.first_name %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @candidate.mi %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @candidate.alias %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @candidate.last_name %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @candidate.suffix %>
</p>

<p>
  <strong>Change address:</strong>
  <%= @candidate.change_address %>
</p>

<p>
  <strong>Address:</strong>
  <%= @candidate.address %>
</p>

<p>
  <strong>Appt suite num:</strong>
  <%= @candidate.appt_suite_num %>
</p>

<p>
  <strong>City:</strong>
  <%= @candidate.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @candidate.zip_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @candidate.phone %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @candidate.extension %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
