<%= form_for(@unpaid_incurred_obligation) do |f| %>
  <% if @unpaid_incurred_obligation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unpaid_incurred_obligation.errors.count, "error") %> prohibited this unpaid_incurred_obligation from being saved:</h2>

      <ul>
      <% @unpaid_incurred_obligation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :report_id %><br>
    <%= f.number_field :report_id %>
  </div>
  <div class="field">
    <%= f.label :entity_id %><br>
    <%= f.number_field :entity_id %>
  </div>
  <div class="field">
    <%= f.label :entity_type_id %><br>
    <%= f.number_field :entity_type_id %>
  </div>
  <div class="field">
    <%= f.label :transaction_id %><br>
    <%= f.number_field :transaction_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :candidate_id %><br>
    <%= f.number_field :candidate_id %>
  </div>
  <div class="field">
    <%= f.label :travel_id %><br>
    <%= f.number_field :travel_id %>
  </div>
  <div class="field">
    <%= f.label :expenditure_type_id %><br>
    <%= f.number_field :expenditure_type_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :date_created %><br>
    <%= f.date_select :date_created %>
  </div>
  <div class="field">
    <%= f.label :ul_obligation_total %><br>
    <%= f.text_field :ul_obligation_total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
