<p id="notice"><%= notice %></p>

<p>
  <strong>Report:</strong>
  <%= @unpaid_incurred_obligation.report_id %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @unpaid_incurred_obligation.entity_id %>
</p>

<p>
  <strong>Entity type:</strong>
  <%= @unpaid_incurred_obligation.entity_type_id %>
</p>

<p>
  <strong>Transaction:</strong>
  <%= @unpaid_incurred_obligation.transaction_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @unpaid_incurred_obligation.category_id %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @unpaid_incurred_obligation.candidate_id %>
</p>

<p>
  <strong>Travel:</strong>
  <%= @unpaid_incurred_obligation.travel_id %>
</p>

<p>
  <strong>Expenditure type:</strong>
  <%= @unpaid_incurred_obligation.expenditure_type_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unpaid_incurred_obligation.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @unpaid_incurred_obligation.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @unpaid_incurred_obligation.amount %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @unpaid_incurred_obligation.date_created %>
</p>

<p>
  <strong>Ul obligation total:</strong>
  <%= @unpaid_incurred_obligation.ul_obligation_total %>
</p>

<%= link_to 'Edit', edit_unpaid_incurred_obligation_path(@unpaid_incurred_obligation) %> |
<%= link_to 'Back', unpaid_incurred_obligations_path %>
