<p id="notice"><%= notice %></p>

<h1>Listing Report Subtotals</h1>

<table>
  <thead>
    <tr>
      <th>Report</th>
      <th>Monetary contribution</th>
      <th>Non monetary contribution</th>
      <th>Pledge</th>
      <th>Loan</th>
      <th>Expenditure</th>
      <th>Unpaid incurred obligation</th>
      <th>Investment purchase</th>
      <th>Credit</th>
      <th>Coh payment</th>
      <th>Date created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @report_subtotals.each do |report_subtotal| %>
      <tr>
        <td><%= report_subtotal.report_id %></td>
        <td><%= report_subtotal.monetary_contribution_id %></td>
        <td><%= report_subtotal.non_monetary_contribution_id %></td>
        <td><%= report_subtotal.pledge_id %></td>
        <td><%= report_subtotal.loan_id %></td>
        <td><%= report_subtotal.expenditure_id %></td>
        <td><%= report_subtotal.unpaid_incurred_obligation_id %></td>
        <td><%= report_subtotal.investment_purchase_id %></td>
        <td><%= report_subtotal.credit_id %></td>
        <td><%= report_subtotal.coh_payment_id %></td>
        <td><%= report_subtotal.date_created %></td>
        <td><%= link_to 'Show', report_subtotal %></td>
        <td><%= link_to 'Edit', edit_report_subtotal_path(report_subtotal) %></td>
        <td><%= link_to 'Destroy', report_subtotal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report subtotal', new_report_subtotal_path %>
