<p id="notice"><%= notice %></p>

<p>
  <strong>Report:</strong>
  <%= @report_subtotal.report_id %>
</p>

<p>
  <strong>Monetary contribution:</strong>
  <%= @report_subtotal.monetary_contribution_id %>
</p>

<p>
  <strong>Non monetary contribution:</strong>
  <%= @report_subtotal.non_monetary_contribution_id %>
</p>

<p>
  <strong>Pledge:</strong>
  <%= @report_subtotal.pledge_id %>
</p>

<p>
  <strong>Loan:</strong>
  <%= @report_subtotal.loan_id %>
</p>

<p>
  <strong>Expenditure:</strong>
  <%= @report_subtotal.expenditure_id %>
</p>

<p>
  <strong>Unpaid incurred obligation:</strong>
  <%= @report_subtotal.unpaid_incurred_obligation_id %>
</p>

<p>
  <strong>Investment purchase:</strong>
  <%= @report_subtotal.investment_purchase_id %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @report_subtotal.credit_id %>
</p>

<p>
  <strong>Coh payment:</strong>
  <%= @report_subtotal.coh_payment_id %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @report_subtotal.date_created %>
</p>

<%= link_to 'Edit', edit_report_subtotal_path(@report_subtotal) %> |
<%= link_to 'Back', report_subtotals_path %>
