<%= form_for(@loan) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :report_id %><br>
    <%= f.number_field :report_id %>
  </div>
  <div class="field">
    <%= f.label :transaction_id %><br>
    <%= f.number_field :transaction_id %>
  </div>
  <div class="field">
    <%= f.label :entity_id %><br>
    <%= f.number_field :entity_id %>
  </div>
  <div class="field">
    <%= f.label :entity_type_id %><br>
    <%= f.number_field :entity_type_id %>
  </div>
  <div class="field">
    <%= f.label :candidate_id %><br>
    <%= f.number_field :candidate_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :out_of_state_pac %><br>
    <%= f.check_box :out_of_state_pac %>
  </div>
  <div class="field">
    <%= f.label :pac_id %><br>
    <%= f.number_field :pac_id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :interest_rate %><br>
    <%= f.text_field :interest_rate %>
  </div>
  <div class="field">
    <%= f.label :maturity_date %><br>
    <%= f.date_select :maturity_date %>
  </div>
  <div class="field">
    <%= f.label :collateral_description %><br>
    <%= f.text_field :collateral_description %>
  </div>
  <div class="field">
    <%= f.label :personal_fund %><br>
    <%= f.text_field :personal_fund %>
  </div>
  <div class="field">
    <%= f.label :amount_guaranteed %><br>
    <%= f.text_field :amount_guaranteed %>
  </div>
  <div class="field">
    <%= f.label :date_created %><br>
    <%= f.date_select :date_created %>
  </div>
  <div class="field">
    <%= f.label :loan_total %><br>
    <%= f.text_field :loan_total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
