<p id="notice"><%= notice %></p>

<p>
  <strong>Address type:</strong>
  <%= @treasurer.address_type_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @treasurer.state_id %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @treasurer.prefix %>
</p>

<p>
  <strong>First name:</strong>
  <%= @treasurer.first_name %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @treasurer.mi %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @treasurer.alias %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @treasurer.last_name %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @treasurer.suffix %>
</p>

<p>
  <strong>Change address:</strong>
  <%= @treasurer.change_address %>
</p>

<p>
  <strong>Address:</strong>
  <%= @treasurer.address %>
</p>

<p>
  <strong>Suite:</strong>
  <%= @treasurer.suite %>
</p>

<p>
  <strong>City:</strong>
  <%= @treasurer.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @treasurer.zip_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @treasurer.phone %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @treasurer.extension %>
</p>

<%= link_to 'Edit', edit_treasurer_path(@treasurer) %> |
<%= link_to 'Back', treasurers_path %>
