<p id="notice"><%= notice %></p>

<h1>Listing Election Types</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @election_types.each do |election_type| %>
      <tr>
        <td><%= election_type.type %></td>
        <td><%= link_to 'Show', election_type %></td>
        <td><%= link_to 'Edit', edit_election_type_path(election_type) %></td>
        <td><%= link_to 'Destroy', election_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Election type', new_election_type_path %>
