<%= form_for(@filer) do |f| %>
  <% if @filer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filer.errors.count, "error") %> prohibited this filer from being saved:</h2>

      <ul>
      <% @filer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_account_id %><br>
    <%= f.number_field :user_account_id %>
  </div>
  <div class="field">
    <%= f.label :filer_type_id %><br>
    <%= f.number_field :filer_type_id %>
  </div>
  <div class="field">
    <%= f.label :state_id %><br>
    <%= f.number_field :state_id %>
  </div>
  <div class="field">
    <%= f.label :office_held_id %><br>
    <%= f.number_field :office_held_id %>
  </div>
  <div class="field">
    <%= f.label :office_sought_id %><br>
    <%= f.number_field :office_sought_id %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :mi %><br>
    <%= f.text_field :mi %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :committee %><br>
    <%= f.text_field :committee %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :secondary_address %><br>
    <%= f.text_field :secondary_address %>
  </div>
  <div class="field">
    <%= f.label :suite %><br>
    <%= f.number_field :suite %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br>
    <%= f.number_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :extension %><br>
    <%= f.number_field :extension %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :hand_deliver %><br>
    <%= f.date_select :hand_deliver %>
  </div>
  <div class="field">
    <%= f.label :receive_date %><br>
    <%= f.date_select :receive_date %>
  </div>
  <div class="field">
    <%= f.label :postmark %><br>
    <%= f.check_box :postmark %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :date_created %><br>
    <%= f.date_select :date_created %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
