<p id="notice"><%= notice %></p>

<p>
  <strong>User account:</strong>
  <%= @filer.user_account_id %>
</p>

<p>
  <strong>Filer type:</strong>
  <%= @filer.filer_type_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @filer.state_id %>
</p>

<p>
  <strong>Office held:</strong>
  <%= @filer.office_held_id %>
</p>

<p>
  <strong>Office sought:</strong>
  <%= @filer.office_sought_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @filer.first_name %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @filer.mi %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @filer.last_name %>
</p>

<p>
  <strong>Committee:</strong>
  <%= @filer.committee %>
</p>

<p>
  <strong>Address:</strong>
  <%= @filer.address %>
</p>

<p>
  <strong>Secondary address:</strong>
  <%= @filer.secondary_address %>
</p>

<p>
  <strong>Suite:</strong>
  <%= @filer.suite %>
</p>

<p>
  <strong>City:</strong>
  <%= @filer.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @filer.zip_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @filer.phone %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @filer.extension %>
</p>

<p>
  <strong>Email:</strong>
  <%= @filer.email %>
</p>

<p>
  <strong>Hand deliver:</strong>
  <%= @filer.hand_deliver %>
</p>

<p>
  <strong>Receive date:</strong>
  <%= @filer.receive_date %>
</p>

<p>
  <strong>Postmark:</strong>
  <%= @filer.postmark %>
</p>

<p>
  <strong>Active:</strong>
  <%= @filer.active %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @filer.date_created %>
</p>

<%= link_to 'Edit', edit_filer_path(@filer) %> |
<%= link_to 'Back', filers_path %>
