<%= form_for(@coh_payment) do |f| %>
  <% if @coh_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coh_payment.errors.count, "error") %> prohibited this coh_payment from being saved:</h2>

      <ul>
      <% @coh_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :report_id %><br>
    <%= f.number_field :report_id %>
  </div>
  <div class="field">
    <%= f.label :entity_id %><br>
    <%= f.number_field :entity_id %>
  </div>
  <div class="field">
    <%= f.label :entity_type_id %><br>
    <%= f.number_field :entity_type_id %>
  </div>
  <div class="field">
    <%= f.label :expenditure_category_type_id %><br>
    <%= f.number_field :expenditure_category_type_id %>
  </div>
  <div class="field">
    <%= f.label :candidate_id %><br>
    <%= f.number_field :candidate_id %>
  </div>
  <div class="field">
    <%= f.label :travel_id %><br>
    <%= f.number_field :travel_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :date_created %><br>
    <%= f.date_select :date_created %>
  </div>
  <div class="field">
    <%= f.label :coh_payment_total %><br>
    <%= f.text_field :coh_payment_total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
