<p id="notice"><%= notice %></p>

<p>
  <strong>Filer:</strong>
  <%= @report.filer_id %>
</p>

<p>
  <strong>Report type:</strong>
  <%= @report.report_type_id %>
</p>

<p>
  <strong>Submit date:</strong>
  <%= @report.submit_date %>
</p>

<p>
  <strong>File name:</strong>
  <%= @report.file_name %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @report.origin %>
</p>

<p>
  <strong>Campaign year:</strong>
  <%= @report.campaign_year %>
</p>

<p>
  <strong>Upload type:</strong>
  <%= @report.upload_type %>
</p>

<p>
  <strong>On time:</strong>
  <%= @report.on_time %>
</p>

<p>
  <strong>Validity:</strong>
  <%= @report.validity %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @report.signature %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
